/**
 * Cadenzr login component
 * 
 * Author: Mathias Beke
 * Date: March 2017
 */

.login {
    
    margin-top: 10%;
    font-family: 'Open Sans' sans-serif;
    
    form {
        //background-color: $orange;
        text-align: center;
        
        .pure-input,
        input[type="text"],
        input[type="password"] {
            
            background-color: lighten($black, 2);
            margin: 1em auto;
            box-shadow: none !important;
            border-width: 2px;
            border-color: $gray;
            color: lighten($gray, 10);
            
            &:focus {
                border-color: #fff !important;
            }
            
        }
        
        .pure-button {
            background-color: $orange;
            color: #fff;
            font-weight: 600;
        }
        
        
        
    }
    
}