/**
 * Design for Cadenzr music streamer
 * 
 * Author: Mathias Beke
 * Date: March 2017
 */

@import "pure";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

/* Color scheme */
$black: rgba(47, 47, 47, 1);
$orange: rgba(211, 97, 53, 1);
$gray: rgba(205, 205, 205, 1);
$color4: rgba(223, 248, 235, 1);
$color5: rgba(1, 22, 56, 1);

$text-color: lighten($gray, 10);

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: $text-color;
    padding: 0;
    margin: 0;
    
    background-color: $black;
}

@import "transitions";
@import "table";
@import "audio-player";
@import "albums";
@import "album";
@import "login";
@import "sidebar";
@import "current_queue";

li {
    margin-top: 0.5em;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.playing {
    color: $orange;
}

.playlist {
    tr {
        cursor: pointer;
    }
}
