var target = 'http://127.0.0.1:8080'; // Be sure to include http:// or https://.

module.exports = {
    proxyTable: {
        '/api': {
            target: target, 
            changeOrigin: true,
        },
      '/images': {
          target: target,
          changeOrigin: true,
      }
    }
}
