/**
 * Cadenzr login component
 * 
 * Author: Mathias Beke
 * Date: March 2017
 */

.login {
    
    margin-top: 10%;
    font-family: 'Open Sans' sans-serif;
    
    div.error {
        height: 2em;
        text-align: center;
    }
    
    form {
        //background-color: $orange;
        text-align: center;
    
        .pure-input,
        input[type="text"],
        input[type="password"] {
            margin: 1em auto;
            color: lighten($gray, 10);
        }
    
    
    
    }
    
}