/**
 * Cadenzr sidebar component
 * 
 * Author: Mathias Beke
 * Date: March 2017
 */

.sidebar {
    
    .toggle-hide,
    .toggle-show {
        position: absolute;
        background-color: darken($black, 3);
        display: block;
        padding: 0.25em;
        font-size: 1.2em;
    }
    
    .toggle-show {
        margin-left: 100%;
    }
    
    font-family: 'Open Sans' sans-serif;
    background-color: darken($black, 3);
    color: $text-color;
    
    width: 100%;
    
    @media screen and (min-width: $md) {
        width: 16.66666%;
        transform: translate(0, 0);
        .toggle-show,
        .toggle-hide {
            display: none;
        }
    }
    
    
    // Slide-in animation
    transform: translate(-100%, 0);
    transition: 0.5s transform ease;
    
    &.active {
        transform: translate(0, 0);
    }
    
    
    height: 100%;
    position: fixed;
    top: 0;
    
    .logo {
        background-image: url('../images/logo.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 25%;
        max-width: 80px;
        padding-top: 25%;
        margin: 1em auto;
        
        opacity: 0.85;
        transition: 0.1s opacity ease;
        
        &:hover {
            transition: 0.3s opacity ease;
            opacity: 0.95;
        }
    }
    
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 0.85em;
        
        li {
            padding: 0;
            margin: 0;
            
            
            border-bottom: solid 1px darken($black, 5);
            padding: 1em 0.5em;
            font-weight: 400;
            
            a {
                color: $text-color;
                
                span {
                    color: darken($text-color, 25);
                }
                
                &:hover {
                    color: #fff;
                    
                    span {
                        color: $text-color;
                    }

                }
                
                &.router-link-active {
                    span {
                        color: $orange;
                    }
                
                }
            }
            
            
            
        }
        
    }
    
    .settings {
        
        position: absolute;
        bottom: 80px;
        //margin-bottom: 1em;
        border-top: solid 1px darken($black, 5);
        border-bottom: 0px;
        width: 100%;

        
    }
    
}