<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cadenzr</title>

    <script src="app/jquery-3.1.1.min.js"></script>
    <script src="app/vue.js"></script>
    <script src="app/vue-router.js"></script>

    <link rel="stylesheet" href="app/font-awesome/css/font-awesome.min.css">
    <link href="app/style.css" rel="stylesheet" type="text/css">



</head>
<body>

    <div id="app">

        <audio-player ref="player"></audio-player>

        <router-view></router-view>
    </div>

    <script>

        // Albums component: renders a list of all albums
        const Albums = Vue.component('albums', {
            template:
                `<ul>
                    <li v-for="album in albums">
                        <router-link :to="{ path: album.link }">
                            {{album.name}}
                        </router-link>
                    </li>
                </ul>`,
            data: function () {
                return {
                    albums: []
                }
            },
            mounted () {
                this.loadAlbums();
            },
            methods: {
              loadAlbums: function(){
                  self = this
                  $.getJSON( "./albums", function(data) {
                        self.albums = data;
                        self.albums.forEach(function(album) {
                            console.log(album.id);
                            album.link = "albums/" + album.id;
                        });
                  });
              }
            }
        });

        const AudioPlayer = Vue.component('audio-player', {
            template:
                `<div class="audio-player">
                    <input ref="timeSlider" class="time-slider" type="range" min="0" v-bind:max="duration">

                    <a class="prev" v-on:click="prev">
                        <span class="fa fa-step-backward"></span>
                    </a>
                    <a class="play"  v-on:click="play" v-if="!playing">
                        <span class="fa fa-play"></span>
                    </a>
                    <a class="pause"  v-on:click="pause" v-if="playing">
                        <span class="fa fa-pause"></span>
                    </a>
                    <a class="next"  v-on:click="next">
                        <span class="fa fa-step-forward"></span>
                    </a>
                    <audio ref="audioplayer" v-on:ended="next" controls>
                        <source :src="song_stream" type="audio/mpeg">
                        Your browser does not support the audio tag.
                    </audio>
                    <input class="volume-slider"  type="range" v-model="volume" min="0" max="100">
                    <p>
                       <span v-if="index >= 0">{{songs[index].name}}</span>
                    </p>
                </div>`,
            data: function () {
                return {
                    song_stream: "",
                    index: -1,
                    songs: [],
                    playing: false,
                    volume: 20,
                    currentTime: 0,
                    duration: 0,
                }
            },
            mounted: function () {
                var self = this;
                var timeupdate = true;
                this.$refs.audioplayer.addEventListener("timeupdate", function() {
                    if(!timeupdate) {
                        return;
                    }

                    self.currentTime = self.$refs.audioplayer.currentTime;
                    self.$refs.timeSlider.value = self.currentTime;
                });

                this.$refs.timeSlider.addEventListener("input", function() {
                    timeupdate = false;
                });

                this.$refs.timeSlider.addEventListener("change", function() {
                    self.currentTime = self.$refs.timeSlider.value;
                    self.$refs.audioplayer.currentTime = self.currentTime;
                    timeupdate = true;
                });

                this.$refs.audioplayer.addEventListener("loadeddata", function() {
                    self.duration = self.$refs.audioplayer.duration;
                });

                this.$watch('index', function () {
                    this.song_stream = this.songs[this.index].stream_location;
                    this.$refs.audioplayer.load()
                    this.play()
                });

              this.$watch('volume', function () {
                  this.$refs.audioplayer.volume = this.volume / 100;
              });


            },
            methods: {
                playSong: function(songs, index) {
                    this.songs = songs;
                    this.index = index;
                },
                next: function() {
                    this.index = (this.index + 1) % this.songs.length;
                },
                prev: function() {
                    this.index = (((this.index - 1) % this.songs.length) + this.songs.length) % this.songs.length; // shitty module since JS doesn't like mod of negative numbers
                },
                play: function() {
                    this.$refs.audioplayer.play()
                    this.playing = true;
                },
                pause: function() {
                    this.$refs.audioplayer.pause()
                    this.playing = false;
                },
            }
        })


        const Album = Vue.component('album', {
            template:
                `<ol>
                    <li v-for="song in songs"><a v-on:click="play(song)">{{song.name}}</a></li>
                </ol>`,
            data: function () {
                return {
                    songs: []
                }
            },
            mounted () {
                this.loadSongs();
            },
            methods: {
              loadSongs: function(){
                  self = this
                  $.getJSON( "./albums/" + self.$route.params.id + "/songs", function(data) {
                      self.songs = data;
                      var count = 0;
                      self.songs.forEach(function(song) {
                          song.index = count;
                          count++;
                      })
                  });
              },
              play: function(song){
                  self = this;
                  console.log(song.stream_location);
                  //app.$refs.player.song_stream = song.stream_location;
                  app.$refs.player.playSong(self.songs, song.index);
              }
            }
        });

        const routes = [
          { path: '/', component: Albums },
          { path: '/albums', component: Albums },
          { path: '/albums/:id', component: Album }
        ]

        const router = new VueRouter({
          routes // short for routes: routes
        })

        var app = new Vue({
          router
        }).$mount('#app')
    </script>

</body>
</html>
